<!-- <link rel="stylesheet" href="/app.css"> -->
<!-- <style>
	body{
		color:purple;
	}
</style> -->

<!-- include header partial -->
<%- include("partials/header") %>

<h1>
	welcome to the home Page
</h1>

<p>
	what is going on?
</p>

<!-- include footer partial -->
<%- include("partials/footer") %>